In [4]:
import pandas as pd
surveys_df = pd.read_csv("E:\surveys.csv")

In [5]:
type(surveys_df)

pandas.core.frame.DataFrame

In [6]:
surveys_df['sex'].dtype

dtype('O')

In [7]:
surveys_df['record_id'].dtype

dtype('int64')

In [8]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [9]:
print(5+5)
10

print(24-4)
20

10
20

20

In [10]:
print(5/9)
0.5555555555555556

print(10/3)
3.3333333333333335

0.5555555555555556
3.3333333333333335

3.3333333333333335

In [11]:
a = 7.83
int(a)
7

# Convert b to a float
b = 7
float(b)
7.0

7.0

In [12]:
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')
surveys_df['record_id'].dtype

dtype('float64')

In [13]:
surveys_df.plot_id.astype("float")

0         2.0
1         3.0
2         2.0
3         7.0
4         3.0
         ...
35544    15.0
35545    15.0
35546    10.0
35547     7.0
35548     5.0
Name: plot_id, Length: 35549, dtype: float64

In [14]:
surveys_df['weight'].mean()
42.672428212991356

42.672428212991356

In [15]:
len(surveys_df[pd.isnull(surveys_df.weight)])
len(surveys_df[surveys_df.weight> 0])

32283

In [16]:
df1 = surveys_df.copy()
df1['weight'] = df1['weight'].fillna(0)

In [17]:
df1['weight'].mean()
38.751976145601844

38.751976145601844

In [18]:
df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())

In [19]:
surveys_df = pd.read_csv("E:\surveys.csv")

In [20]:
df_na = surveys_df.dropna()

In [1]:
df_na.to_csv('E/surveys_complete.csv', index=False)

NameError: name 'df_na' is not defined