In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [2]:
fruits.count('tangerine')

0

In [3]:
fruits.index('banana')

3

In [4]:
fruits.index('banana', 4)

6

In [5]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [7]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
fruits.pop()

'pear'

In [9]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [10]:
stack.pop()

7

In [11]:
stack

[3, 4, 5, 6]

In [12]:
stack.pop()

6

In [13]:
stack.pop()

5

In [14]:
stack

[3, 4]

In [15]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")         
queue.append("Graham")        
queue.popleft()

'Eric'

In [16]:
queue.popleft()

'John'

In [17]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [18]:
squares = []
for x in range(10):
       squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares = list(map(lambda x: x**2, range(10)))

In [20]:
squares = [x**2 for x in range(10)]

In [21]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [22]:
combs = []
for x in [1,2,3]:
         for y in [3,1,4]:
            if x != y:
                 combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [23]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [24]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [25]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [26]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [27]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [28]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-28-a4841c5cdd7d>, line 1)

In [29]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [31]:
matrix = [
         [1, 2, 3, 4],
         [5, 6, 7, 8],
         [9, 10, 11, 12],
     ]

In [32]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [33]:
transposed = []
for i in range(4):
         transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [34]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [35]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [36]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [37]:
del a[:]
a

[]

In [38]:
del a

In [39]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [40]:
t

(12345, 54321, 'hello!')

In [41]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [42]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [43]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [44]:
empty = ()
singleton = 'hello',   
len(empty)

0

In [45]:
len(singleton)

1

In [46]:
singleton

('hello',)

In [47]:
x, y, z = t

In [48]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'apple', 'pear', 'banana', 'orange'}

In [49]:
 'orange' in basket

True

In [50]:
 'crabgrass' in basket

False

In [51]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [52]:
a - b

{'b', 'd', 'r'}

In [53]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [54]:
a & b

{'a', 'c'}

In [55]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [56]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [57]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [58]:
 tel['jack']

4098

In [59]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [60]:
list(tel)

['jack', 'guido', 'irv']

In [61]:
sorted(tel)

['guido', 'irv', 'jack']

In [62]:
 'guido' in tel

True

In [63]:
 'jack' not in tel

False

In [64]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [65]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [66]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [67]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
        print(k, v)

gallahad the pure
robin the brave

In [68]:
for i, v in enumerate(['tic', 'tac', 'toe']):
         print(i, v)

0 tic
1 tac
2 toe

In [69]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
        print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [70]:
for i in reversed(range(1, 10, 2)):
       print(i)

9
7
5
3
1

In [71]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)): 
    print(f)

apple
banana
orange
pear

In [72]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
         if not math.isnan(value):
            filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [73]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3

In [74]:
non_null

'Trondheim'

In [75]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True